{% load static %}
<script src="{% static 'js/profile-edit.js' %}"></script>
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8"/>
        <title>Profile page {{username}}</title>
        <link rel="stylesheet" href="{% static 'css/profile-page.css' %}">
        <link rel="author" href="{% static 'css/img' %}">
</head>
<body>
    <div class="buttons-bar">
        <input type="button" value="Login">
        <input type="button" value="Search">
        <input type="button" value="Make new project">
        <input type="button" value="Inbox">
        <input type="button" value="Conversations">
        <input type="button" value="Connections">
        <input type="button" value="My profile">
    </div>
    <div class="profile-data">
        <div class="cover-photo">
            <img src="{% static 'css/img/sbcf-default-background.jpg' %}" alt="Cover">
        </div>
        <div class="avatar-container">
            <img src="{% static 'css/img/default-avatar.png' %}" alt="Profile">
        </div>
        <div class="near-avatar">
                <h1>{{username}}</h1>
                <button class="add-friend">Add friend</button>
                <button class="message">Message</button>
        </div>
    </div>
    <div class="skills-tab">
        {% for category,skills in techstack_category.items %}
            <h2>{{ category.name }}</h2>
            <hr>
                {% for skill in skills %}
                    <button class="skill">{{skill.name}}</button>
                {% endfor %}
                {% if is_owner %}
                    <input type="text" class="add-new-name" placeholder="Add new skill">
                    <button class="add-btn" onclick="addSkill()">Add skill</button>
                {% endif %}
                <hr>
        {% endfor %}
        <hr>
        {% if is_owner %}
                <input type="text" class="add-new-name" placeholder="Add new skill category">
                <button class="add-btn" onclick="addSkillSection()">Add section</button>
        {% endif %}
    </div>
    <div class="profile-sections">
        {% for section in profile_sections %}
            <h1 class="section-name">{{section.name}}</h1>
            <pre class="section-content">{{section.content}}</pre>
            <hr>
            {% empty %}
            <tr>
                <td>User has no visible sections</td>
            </tr>
            {% endfor %}
    </div>
    <div class="community-projects">
         {% for proj in user_projects%}
             <h1>{{ proj.name }}</h1>
         {% empty %}
                <h2>This user didn't participate in any community projects</h2>
         {% endfor %}
    </div>
    <div class="user-posts">
        
    </div>
</body>
</html>