<!DOCTYPE html>
<input lang="en">
<head>
    <meta charset="utf-8"/>
    <title>REGISTRATION PAGE</title>
</head>
    <h1>bla bla bla share ideas participate in projects...</h1>
<form method="post">
        {% csrf_token %}
        Username:
        <input type="text" maxlength="50" name="username"></input><br>
        Password:
        <input type="password" maxlength="50" name="password"></input><br>
        Birthday:
        <input type="date" name="birthday"></input><br>
        Email:
        <input type="email" maxlength="45" name="email"></input><br>
        <button value="CREATE ACCOUNT" aria-setsize="10px"></button>
</form>

</body>
</html>